
<nav class="navbar sticky-top navbar-expand-md bg-body-dark  border-bottom " data-bs-theme="dark" style="background-color: #111;">
  <div class="container-fluid">
    <a style="font-size: xx-large;"  class="navbar-brand" href="#">TURF<span style="color: green;">MATE</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
      <div class="navbar-nav flex-grow-1 justify-content-center">
        <a class="nav-link " href="/turfs">Turfs</a>
        <a class="nav-link" href="#">My Bookings</a>
        <a class="nav-link" href="/about">About</a>
       
      </div>

      <div class="navbar-nav ms-auto">

        <% if(!currUser){ %>
        <a class="nav-link " href="/signup">Sign up</a>
        <a class="nav-link" href="/login">Login</a>
        <%}%>
        <% if(currUser){ %>
        <a class="nav-link" href="/logout">Logout</a>
        <%}%>
      </div>
      

    </div>
     
     
  </div>
</nav>
