<style>
    .navbar{      
        height:5rem;   
    }
    
    .nav-link{
        color:rgb(229, 233, 232)
    }

    .navbar-brand{
       letter-spacing: 2px;
       font-weight: 500;
       font-size: xx-large;
    }
    
    

</style>

<nav class="navbar sticky-top navbar-expand-md bg-body-dark  border-bottom " data-bs-theme="dark" style="background-color: black;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TURF<span style="color: green;">MATE</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-center flex-grow-1 gap-2">
        <a class="nav-link " href="/turfs">Turfs</a>
        <a class="nav-link" href="#">My Bookings</a>
        <a class="nav-link" href="#">About</a>
       
      </div>
      <div class="login-buttons me-3">
         <button type="button" class="btn btn-outline-light">Login</button>
         &nbsp;
        <button type="button" class="btn btn-success">Sign Up</button>
     </div>

    </div>
     
     
  </div>
</nav>
