<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turfmate</title>
</head>
<body>
    <h1>TurfMate</h1>

    <div id="container">
        <%- body -%>
    </div>
</body>
</html>