<% layout('layouts/boilerplate') -%>
<div class="hero-about">
<section class="hero">
    <div class="content">
        <p class="content-first">OUR STORY</p>
        <div class="content-center">
             <div>BUILT FOR <br><span style="color:#1db954">CRICKET</span> <br>LOVERS</div>
        </div>
         <div class="content-last">
           TurfMate was born from a simple frustration — booking a cricket turf<br> shouldn't need a dozen phone calls. I am building the easiest way <br>to find, book, and play. 
         </div>
    </div>
</section>

<div class="working">

    <div class="working-first">HOW IT WORKS</div>
    <div class="working-instruction">BOOK IN 3 SIMPLE STEPS </div>

  <div class="container">
    
    <div class="row g-4">

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Browse Turf</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        01
                    </h6>
                    <p class="card-text">
                        Find your perfect turf.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Pick a slot</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        02
                    </h6>
                    <p class="card-text">
                        Choose your preferred date and time from the real-time availability calendar.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Play</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        03
                    </h6>
                    <p class="card-text">
                        Show up and play. Your booking details are saved in your account.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
    

</div>
</div>



<div style="display: flex;justify-content: center; margin-bottom: 1.5rem; height:4rem;align-items: center;">
   <form action="/turfs">
     <button type="submit" class="btn btn-lg btn-success">BROWSE TURF</button>
   </form>
</div>

