<% layout('layouts/boilerplate') -%>
<body>    
    <ul>
        <% for(let turf of allTurfs){ %>
           <a style="display: inline;" href="/turfs/<%= turf._id%>"><li><%= turf.name %></li></a>
        <%}%>
    </ul>
</body>


