<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turfmate</title>
</head>
<body>
    <h1>Turfmate</h1>
    
    <ul>
        <% for(let turf of allTurfs){ %>
           <a href="/turfs/<%= turf._id%>"><li><%= turf.name %></li></a>
        <%}%>
    </ul>
</body>
</html>

