<% layout('layouts/boilerplate') -%>
<body>
    
    <h3>Turf Details : </h3>
    <ul>
    <li><%= turf.name %></li>
    <li><%= turf.description %></li>
    <li>&#8377; <%= turf.price.toLocaleString("en-IN") %></li>
    <li><%= turf.location %></li>
    </ul>
</body>
