<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turfmate</title>
</head>
<body>
    
    <h3>Turf Details : </h3>
    <ul>
    <li><%= turf.name %></li>
    <li><%= turf.description %></li>
    <li>&#8377; <%= turf.price.toLocaleString("en-IN") %></li>
    <li><%= turf.location %></li>
    </ul>
</body>
</html>